.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    height: 50px;
    width: 500px;
    background: #f0f0f0;
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 24px;
    padding-left: 15px;
    border-radius: 40px;
    border-color: white;
}

#addTask {
    height: 50px;
    width: 150px;
    font-weight: bold;
    background-color: #ff6f61;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    width: 850px;
    font-size: 24px;
    color: #333;
    background-color: white;
    padding: 0;
    margin: 20px 0;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    height: 50px;
    padding: 0 20px;

    margin-bottom: 10px;
    border-radius: 8px;
}

li span {
    flex-grow: 1;
    font-size: 24px;
}

button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    color: rgb(99, 95, 95);
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
}